.weather-app {
  max-width: 800px;
  margin: 0px auto;
  padding: 5%;
}

h1 {
  display: flex;
  align-items: center;
  color:#878787;
  font-family: "Press Start 2P", sans-serif;
  padding: 3%;
  margin-bottom: 0;
}

#the-city {
  font-size: 20px;
}

.conditions {
  margin-left: 20px;
}

.temperature,
.units {
  font-family: "Press Start 2P", sans-serif;
}

.temperature {
  font-size: 24px;
}

.units {
  font-size: 20px;
}

.temperature-info {
  display: flex;
  align-items: center;
}

.shadow {
  width: 800px;
  display: flex;
  background-image: url(/media/dot.jpeg);
  background-repeat: repeat;
  padding-bottom: 2%;
  margin: 5% auto;
}

.falsetab {
  background-color: #0cd0f3;
  border-bottom: 1px solid #251f44;
}
.falseclose {
  background-color: #f54291;
  border-left: 1px solid #251f44;
  padding: 0 3px;
}

.container-card {
  padding: 0%;
  background-color: #a9fcf5;
  width: 800px;
  border: 1px solid #251f44;
  margin-left: -2%;
  margin-top: -2%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: black;
  font-family: "Quantico", sans-serif;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

#icon {
  max-width: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.city {
  margin: 10px;
  max-width: 400px;
}

.city-and-search-form {
  display: flex;
}


.search-elements {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  height: 41px;
  width: 100px;
}

.search-form {
  font-family: "Quantico", sans-serif;
  text-transform: capitalize;
  border: 2px solid #251f44;
  border-top: 3px solid white;
  border-left: 3px solid white;
  margin: 5px;
}

#search-button {
  font-family: "Press Start 2P", sans-serif;
  text-transform: capitalize;
  border-bottom: 2px solid #251f44;
  border-right: 2px solid #251f44;
  border-top: 3px solid #f54291;
  border-left: 3px solid #f54291;
  background-color: #f54291;
  margin-top: 5px;
  max-height: 100%
}

input {
  border: white;
}

#wind-icon, #humidity-icon {
  max-width: 20px;
}

#pin {
  max-width: 30px;
  max-height: 30px;
  margin: 7px
}

.temperature-info .active {
  font-size: 24px;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.weather-forecast {
  margin: 20px;
  text-align: center;
  font-family: "Quantico", sans-serif;
  border: 1px dashed black;
  padding: 5px 10px 5px 10px;
  background-color: #f7e3f5;
}

.weather-forecast-temp {
  font-size: smaller;
}

.weather-forecast-temp-min {
  opacity: 0.4;
}

.weather-forecast-image {
  margin: 3px;
}

.weather-app-day {
  border: 1px dashed black;
}
